# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dist-ssr

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
*.local
.DS_Store
.fleet
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Editor directories
.vscode/*
!.vscode/extensions.json

# Local env files
.env
.env.*
!.env.sample
