@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tw-teletext-h1 {
    @apply tw-text-teletext-h1 sm:tw-text-teletext-h1 tw-leading-tight tw-font-heading;
    letter-spacing: var(--heading-spacing);
  }
  .tw-h1 {
    @apply tw-text-h2 sm:tw-text-h1 tw-leading-tight tw-font-heading;
    letter-spacing: var(--heading-spacing);
  }
  .tw-h2 {
    @apply tw-text-h3 sm:tw-text-h2 tw-leading-tight tw-font-heading;
    letter-spacing: var(--heading-spacing);
  }
  .tw-h3 {
    @apply tw-text-h4 sm:tw-text-h3 tw-leading-tight tw-font-heading;
    letter-spacing: var(--heading-spacing);
  }
  .tw-h4 {
    @apply tw-text-h5 sm:tw-text-h4 tw-leading-tight tw-font-heading;
    letter-spacing: var(--heading-spacing);
  }
  .tw-h5 {
    @apply tw-text-h6 sm:tw-text-h5 tw-font-heading;
  }
  .tw-h6 {
    @apply sm:tw-text-h6 tw-font-heading;
  }

  h1 {
    @apply tw-h1;
  }
  h2 {
    @apply tw-h2;
  }
  h3 {
    @apply tw-h3;
  }
  h4 {
    @apply tw-h4;
  }
  h5 {
    @apply tw-h5;
  }
  h6 {
    @apply tw-h6;
  }
  body {
    @apply tw-text-sm sm:tw-text-md tw-font-body tw-bg-black;
  }
}

@layer utilities {
  .tw-content {
    @apply tw-space-y-4 tw-text-md tw-opacity-80;
  }
  .tw-debug {
    @apply tw-bg-red-500 tw-text-white tw-rounded-lg tw-p-2 tw-mt-4 tw-flex tw-flex-col tw-space-y-1 tw-text-sm tw-relative;
  }
  .tw-debug:after {
    content: "Debug";
    @apply tw-absolute tw--top-4 tw-right-0 tw-bg-red-500 tw-text-white tw-font-bold tw-h-6 tw-px-2 tw-flex tw-items-center tw-rounded-lg;
  }
}
